.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
}

.button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.greyButton {
	background-color: #796c7d;
	color: #fff;
}

.lightGreyButton {
	background-color: #e0e0e0;
	color: #000;
}

.defaultButton {
	background-color: #007bff;
	color: #fff;
}

.greyButton:hover,
.lightGreyButton:hover,
.defaultButton:hover {
	opacity: 0.8;
}

.small {
	height: 40px;
	padding: 5 10 5 10;
	border-radius: 4px;
}

.medium {
	height: 46px;
	padding: 8 16 8 16;
	border-radius: 4px;
}

.large {
	height: 52px;
	padding: 9 19 9 19;
	border-radius: 4px;
}
