.guideSetsList {
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}

.guideSetsList__header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.guideSetsList__createSection {
	flex-shrink: 0; /* Чтобы секция не сжималась */
	padding: 10px;
	display: flex;

	flex-direction: column;
}

.fontList {
	list-style: none;
}
