.App {
	display: flex;
	flex-grow: 1;
	flex-direction: row; /* Располагаем элементы по горизонтали */
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App > * {
	flex-shrink: 0; /* Запрещаем уменьшение боковых панелей */
}
